
/worksheet3/gcd.bin
build/

*.aux
*.fls
*.log
*.fdb_latexmk
*.gz
*.toc
*.pyc
*.synctex*
worksheet6/notes.txt
worksheet6/documentation/_minted-documentation/default.pygstyle
worksheet6/documentation/_minted-documentation/default-pyg-prefix.pygstyle
